body{
    height:100vh;
    font-family: serif;
    background-color: #fff2d5;

  }

h1 {
    font-size: large;
    font-weight: bolder;
}


button {
  background-color: lightgray;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
}